@import "../../../styles/variables.scss";

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: $dark-lilac-color;
}

#footer {
  display: flex;
  flex-direction: column;

  #main {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: $light-lilac-color;
    color: $dark-lilac-color;
    @media screen and (max-width: $mid-view) {
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
    }
    .left-side,
    .right-side {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .center > * {
      margin-top: 8px;
    }

    .center {
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .title {
        font-weight: 800;
        font-family: "Tangerine", serif;
        font-size: 1.5rem;
      }

      .social-media {
        display: flex;
        flex-direction: row;

        .social-button {
          background-color: $light-lilac-color;
          margin-right: 8px;
          margin-left: 8px;
          margin-bottom: 8px;
        }

        .facebook {
          background: url("../../../assets/icon-facebook1.png") no-repeat;
          background-size: 100%;
          background-position: center;
        }
        .twitter {
          background: url("../../../assets/icon-twitter1.png");
          background-size: 88%;
          background-position: center;
        }
        .instagram {
          background: url("../../../assets/icon-instagram1.png");
          background-size: 92%;
          background-position: center;
        }
        .youtube {
          background: url("../../../assets/icon-youtube1.png") no-repeat;
          background-size: 88%;
          background-position: center;
        }
      }
      .name-button {
        font-size: smaller;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        background-color: $light-lilac-color;
        margin: 0px 4px 24px 4px;
        padding-left: 8px;
        padding-right: 8px;
        text-decoration: none;
        color: $dark-lilac-color;
        @media screen and (max-width: $mid-view) {
          width: 160px;
          margin-top: 4px;
        }
      }
    }
  }

  #copyright {
    display: flex;
    justify-content: center;
    background-color: $white-color;
    color: $black-color;

    h5 {
      margin: 0;
    }
  }
}
