<footer id="footer">
  <section id="main">
    <div class="center">
      <div class="title">
        <h3>GreenFox Mini Project</h3>
      </div>
      <div class="social-media">
        <a
          href="https://www.facebook.com/greenfoxacademy"
          class="social-button facebook"
          mat-mini-fab
          target="_blank"
        ></a>
        <a
          href="https://twitter.com/greenfoxacademy"
          class="social-button twitter"
          mat-mini-fab
          target="_blank"
        ></a>

        <a
          href="https://www.instagram.com/greenfox_official/"
          class="social-button instagram"
          mat-mini-fab
          target="_blank"
        ></a>
        <a
          href="https://www.youtube.com/c/GreenFoxAcademy_official"
          class="social-button youtube"
          mat-mini-fab
          target="_blank"
        ></a>
      </div>
      <div class="participiants">
        <a
          href="https://github.com/SionnachBeag"
          target="_blank"
          class="name-button"
          mat-stroked-button
          >Csapó Lilla
        </a>
      </div>
    </div>
  </section>
  <section id="copyright">
    <h5>
      Copyright © 2022
      <a href="https://www.greenfoxacademy.com/">GreenFox Academy. </a> All
      rights Reserved.
    </h5>
  </section>
</footer>
