<div class="item-card-container">
  <div class="img-container">
    <div
      class="item-img"
      style="background: url('http://localhost:3000/{{ itemData.imgUrl }}');
    background-size: cover;"
    ></div>
  </div>
  <div class="item-detail-container">
    <div class="title">{{ itemData.title }}</div>
    <div class="price">{{ itemData.price }} ART$</div>
    <a class="view" routerLink="/viewItem" [queryParams]="{ id: itemData?.id }"
      >View Item</a
    >
    <button
      *ngIf="isDisplayed"
      class="buy-btn"
      mat-flat-button
      (click)="onClick()"
    >
      Buy
    </button>
  </div>
</div>
