@import "../../../styles/variables.scss";

.item-card-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 1px solid $black-color;
  width: 500px;
  background-color: $light-lilac-color;
  border-radius: $border-radius;
  box-shadow: 3px 2px 3px;

  .img-container {
    min-width: 250px;
    max-width: 250px;

    position: relative;

    .item-img {
      height: 100%;
      border-radius: $border-radius;
      position: relative;
    }

    .water-mark {
      padding: 3px;
      font-size: 1.5rem;
      font-weight: 600;
      color: $black-color;
      margin: auto;
      text-align: end;
      line-height: 1.5rem;
      position: absolute;
    }
  }

  .item-detail-container {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 700;
      font-size: 24px;
    }

    .buy-btn {
      background-color: $cream-color;
      border: 1px solid $black-color;
      margin-top: 10px;
      font-weight: 700;
      width: 70px;
    }
  }

  .item-detail-container > * {
    margin: 10px;
    font-size: 18px;
  }
}
