@import "../styles/variables.scss";

#page-container {
  position: relative;
  min-height: 100vh;
  background-color: $cream-color;

  #content-wrap {
    padding-bottom: 2.5rem;

    #main {
      max-width: 1890px;
      margin: auto;
      padding: auto;
    }
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
}
