@import "../../../../../../styles/variables.scss";

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $cream-color;
  border-radius: $border-radius;

  form {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 20px;
    background-color: $white-color;
    width: 500px;
    height: 600px;

    p {
      margin: 30px 0px;
      font-size: 24px;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
    }

    .field {
      margin-top: 20px;
      width: 70%;
      font-family: Montserrat, sans-serif;
    }

    .add-item-button {
      font-size: 18px;
      font-weight: 700;
      margin-top: 30px;
      background-color: $light-lilac-color;
      font-family: Montserrat, sans-serif;
    }

    .add-item-button:hover {
      background-color: $dark-lilac-color;
      color: $white-color;
    }

    .message {
      text-align: center;
      color: $purple-color;
      font-size: 16px;
    }
  }
}
