$white-color: #ffffff;
$black-color: black;
$light-lilac-color: rgb(229, 201, 229);
$cream-color: rgb(254, 246, 230);
$dark-lilac-color: #673ab7;
$purple-color: purple;

$border-radius: 8px;

$mid-view: 1120px;
