$white-color: #ffffff;
$dark-blue-color: #222831;
$light-turquoise-color: #29a19c;
$magic-mint: #c2edce;
$dark-turquoise-color: #005555;

// sizes
$header-height: 100px;
$footer-height: 270px;
$circle-diameter: 150px;
$border-radius: 16px;

$red-color: #de0404;
$yellow-color: #ddc510;

//screen break points
$small-view: 850px;
$mid-view: 1120px;
