<div class="container">
  <p>Put Your Item On Sale</p>
  <div class="form-container">
    <form [formGroup]="itemForm" class="itemForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="field">
        <input
          matInput
          formControlName="title"
          type="text"
          id="title"
          placeholder="title"
        />
      </mat-form-field>
      <mat-form-field class="field">
        <input
          matInput
          formControlName="description"
          id="description"
          placeholder="description"
        />
      </mat-form-field>
      <mat-form-field class="field">
        <input
          matInput
          formControlName="imgUrl"
          id="imgUrl"
          placeholder="image url"
        />
      </mat-form-field>
      <mat-form-field class="field">
        <input
          matInput
          formControlName="price"
          id="price"
          placeholder="price"
        />
      </mat-form-field>
      <button class="add-item-button" mat-flat-button type="submit">
        Upload
      </button>
      <p class="message" *ngIf="message.length > 0">{{ message }}</p>
    </form>
  </div>
  <div class="manage-container">
    <h1 class="h1-title">Edit Or Delete Items</h1>
    <div class="items-container">
      <app-manage-item
        *ngFor="let item of itemsByUser"
        [itemData]="item"
      ></app-manage-item>
    </div>
  </div>
</div>
