<section class="header-container">
  <div id="header">
    <div id="link-container">
      <img src="../../../assets/logo_ab.png" id="logo" />
      <a routerLink="/">Home</a>
      <a routerLink="/shop">Shop</a>
      <a (click)="toMyItems()">My Items</a>
      <a (click)="toManageItems()">My Items On Sale</a>
    </div>

    <div id="reg-log-container">
      <div *ngIf="router.url !== '/'" class="dollars">
        Art Dollars: {{ artDollars }}
      </div>
      <button
        *ngIf="authService.getUserName()"
        mat-flat-button
        class="logout-button button"
        (click)="logout()"
      >
        Log out
      </button>
    </div>
  </div>
</section>
