@import "../../../styles/variables.scss";

.header-container {
  display: flex;
  position: fixed;
  top: 0;
  padding: 16px;
  height: 100px;
  width: 100%;
  z-index: 100;

  #header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius;
    box-shadow: 0px 0px 50px $light-lilac-color;
    opacity: 90%;
    background-color: $white-color;
    margin: auto;

    #reg-log-container {
      display: flex;
      flex-direction: row;

      .dollars {
        margin-right: 16px;
        color: $dark-lilac-color;
        text-decoration: none;
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        margin-top: 7px;
        font-weight: 700;
        font-family: "Tangerine", serif;
        font-size: 1.8rem;
        text-shadow: 4px 4px 4px #aaa;
      }

      .button {
        background-color: $light-lilac-color;
        margin-right: 16px;
        color: $black-color;
        width: 100px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 16px;
      }

      .button:hover {
        background-color: $dark-lilac-color;
        color: $white-color;
      }

      .manage-button {
        width: 150px;
      }
    }

    #conditional-links-container {
      width: auto;
      display: flex;
      justify-content: flex-start;
    }

    #link-for-user-container {
      padding-left: 50px;
    }

    a {
      color: $dark-lilac-color;
      text-decoration: none;
      font-size: 1.8rem;
      text-shadow: 4px 4px 4px #aaa;
      font-weight: 700;
      font-family: "Tangerine", serif;
      letter-spacing: 0.1rem;
      text-decoration: underline;
      margin: 0px 20px;
      cursor: pointer;
    }

    a:hover {
      color: $light-lilac-color;
    }
  }
}
