@import "../../../styles/variables.scss";

.header-container {
  display: flex;
  position: fixed;
  top: 0;
  padding: 16px;
  height: 100px;
  width: 100%;
  z-index: 100;

  #header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius;
    box-shadow: 0px 0px 50px $light-lilac-color;
    opacity: 90%;
    background-color: $white-color;
    margin: auto;

    #reg-log-container {
      display: flex;
      flex-direction: row;

      .dollars {
        margin-right: 16px;
        color: rgb(50, 50, 50);
        text-decoration: none;
        letter-spacing: 0.1rem;
        margin-top: 7px;
        font-weight: 600;
        font-family: "Dancing Script", "Arial", cursive;
        font-size: 1.5rem;
      }

      .button {
        background-color: $light-lilac-color;
        margin-right: 16px;
        color: $black-color;
        width: 100px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 16px;
      }

      .button:hover {
        background-color: $dark-lilac-color;
        color: $white-color;
      }
    }

    #link-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      #logo {
        width: 48px;
        height: 48px;
        margin: 0px 5px 0px 20px;
      }

      a {
        color: rgb(50, 50, 50);
        text-decoration: none;
        text-decoration: underline;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: "Dancing Script", "Arial", cursive;
        letter-spacing: 0.1rem;
        margin: 0px 15px;
        cursor: pointer;
      }

      a:hover {
        color: $light-lilac-color;
      }
    }
  }
}
