<section class="header-container">
  <div id="header">
    <div id="logo">
      <a routerLink="/">Home</a>
      <a routerLink="/shop">Shop</a>
      <a (click)="onClick()">My Items</a>
      <a routerLink="/manageItems">My Items On Sale</a>
    </div>

    <div id="reg-log-container">
      <button
        *ngIf="authService.getUserName()"
        mat-flat-button
        class="logout-button button"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</section>
