<form
  [formGroup]="registerForm"
  #form="ngForm"
  class="registerForm"
  (ngSubmit)="onSubmit(form)"
>
  <mat-form-field class="registerFormField">
    <span matPrefix><mat-icon class="icon user">person</mat-icon> </span>
    <input
      type="text"
      matInput
      id="userName"
      formControlName="userName"
      placeholder="Username"
    />
  </mat-form-field>
  <mat-form-field class="registerFormField">
    <span matPrefix><mat-icon class="icon email">email</mat-icon></span>
    <input
      type="text"
      matInput
      id="email"
      formControlName="email"
      placeholder="E-mail"
      required
    />
  </mat-form-field>
  <mat-form-field class="registerFormField">
    <span matPrefix><mat-icon class="icon lock">lock</mat-icon> </span>
    <input
      type="password"
      matInput
      id="password"
      formControlName="password"
      placeholder="Password"
      required
      [type]="hide ? 'password' : 'text'"
    />
    <span matSuffix
      ><mat-icon class="icon eye" (click)="togglePasswordVisibility()">{{
        hide ? "visibility" : "visibility_off"
      }}</mat-icon>
    </span>
  </mat-form-field>
  <mat-form-field class="registerFormField">
    <span matPrefix><mat-icon class="icon lock">lock</mat-icon> </span>
    <input
      type="password"
      matInput
      id="passwordConfirm"
      formControlName="passwordConfirm"
      placeholder="Confirm Password"
      required
      [type]="hideConfirm ? 'password' : 'text'"
    />
    <span matSuffix
      ><mat-icon class="icon eye" (click)="togglePasswordConfirmVisibility()">{{
        hideConfirm ? "visibility" : "visibility_off"
      }}</mat-icon>
    </span>
  </mat-form-field>
  <span class="message errorMessage" *ngIf="!registerForm.valid">{{
    errorMessage
  }}</span>
  <p class="message btn-do-not-move-tag" *ngIf="registerForm.valid"></p>
  <button class="register-button" mat-flat-button type="submit">
    Create An Account</button
  ><br />
  <span
    class="message serverMessage"
    *ngIf="registerForm.valid && form.submitted"
    >{{ result }}</span
  >
</form>
