@import "../../../../../../styles/variables.scss";

.registerForm {
  display: flex;
  flex-direction: column;
  height: 390px;
  width: 350px;
  margin: 40px;
  padding: 5px;

  .registerFormField {
    .email,
    .lock,
    .user {
      margin-right: 10px;
    }
  }

  .register-button {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    background-color: $light-lilac-color;
  }

  .register-button:hover {
    background-color: $dark-lilac-color;
    color: $white-color;
  }

  .errorMessage {
    font-size: 12px;
    text-align: center;
    height: 20px;
  }

  .serverMessage {
    text-align: center;
    margin-top: 20px;
  }

  .message {
    text-align: center;
    color: $purple-color;
  }
}
