@import "../../../../../../styles/variables.scss";

.loginForm {
  display: flex;
  flex-direction: column;
  height: 390px;
  width: 350px;
  margin: 40px;
  padding: 5px;

  .field {
    .lock,
    .user {
      margin-right: 10px;
    }
  }

  .login-button {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    background-color: $light-lilac-color;
  }

  .login-button:hover {
    background-color: $dark-lilac-color;
    color: $white-color;
  }

  .error {
    text-align: center;
    color: $purple-color;
  }
}
