<form
  [formGroup]="loginForm"
  #form="ngForm"
  class="login-form"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="login-form-field">
    <span matPrefix><mat-icon class="icon user">person</mat-icon> </span>
    <input
      matInput
      formControlName="userName"
      type="text"
      id="userName"
      placeholder="Username"
    />
  </mat-form-field>
  <mat-form-field class="login-form-field">
    <span matPrefix><mat-icon class="icon lock">lock</mat-icon> </span>
    <input
      matInput
      formControlName="password"
      id="password"
      placeholder="Password"
      [type]="hide ? 'password' : 'text'"
    />
    <span matSuffix
      ><mat-icon class="icon eye" (click)="togglePasswordVisibility()">{{
        hide ? "visibility" : "visibility_off"
      }}</mat-icon>
    </span>
  </mat-form-field>
  <span class="error">{{ result }}</span>
  <button class="login-button" mat-flat-button type="submit">Sign In</button>
</form>
