.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.auth-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
}

.mat-tab-label {
  font-size: 24px;
  margin-right: 30px;
}

.mat-tab-label.mat-tab-label-active {
  font-size: 24px !important;
}
